<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>Linkify for Circuit</h2>
        <p><%= error %></p><br>
        <p><a class="btn btn-primary" href="/">Back</a></p>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">roger.urscheler@unify.com | source on <a href="https://github.com/circuit/node-linkify/">github</a></p>
      </div>
    </footer>
</body>
</html>

